body {
	font-family: Source Sans Pro;

}
.headerAll {
	background-color: #F5F5F5;
	padding-top: 10px;
}
.headerLeft {
	//border:2px solid orange;
	display: inline-block;
	vertical-align: top;
}
.headerRight {
	//border:2px solid teal;
	text-align: right;
	margin-right:0px;
	vertical-align: top;
}
.headerRight h5 {
	font-weight: 900;
	font-family: Source Sans Pro;
	vertical-align: top;
}
.headerTools {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.headerTools li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: 900; 
}
.fa {
	margin-left:10px;
	margin-right: 10px;
	font-weight: 900;
}

.searchBox {
	width:60%;
}
.repoSearchBox {
	width:38%;
}
.repoTools {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.repoTools li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: 900; 
}
.newRepo {
	background-color: #70BD4D;
	color:white;
}
#newRepoImage {
	color: white;
}
.gitCat {
	padding-left: 30px;
}
#miniPhoto {
	height: 20px;
	width: 20px;
}
.blankleft {
	//border:2px solid black;
}
.left {
	//border:2px solid blue;
}
.blankright {
	//border:2px solid purple;
}
.right {
	//border:2px solid red;
}
.Uglyduck img {
	width:85%;
	border-radius:6px;
}
.tabButton {
	display: inline;
	width: 100%;
}
button {
	width:80px;
	background-color: #F3F3F3;
	border-radius: 7px;
}
ul {
	width:75%;
}
.repoName {
	color: #4484C4;
}
.UC {
	color: #4484C4;
}
.Social {
	display: inline-block;
	//border: 2px solid green;
	text-align: center;
	margin:auto;
}
.Universe {
	display: inline-block;
	color: #BCC0C0;
	font
}
.Uhaul {
	display: inline-block;
}
